Repository izorg/munchkin-site-ru: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.json,.jsx --fix, prettier --write

MUI upgrade
  gatsby-browser.js
  gatsby-ssr.js
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx --fix

Deploying to gh-pages from @ izorg/munchkin-site@2975d72b637e0010d223a67742cb26a3cf8321fa 🚀
  app-3d4eaf8e71303c759ac5.js
  app-3d4eaf8e71303c759ac5.js.map
  app-825c193f6a31826f82bd.js
  app-825c193f6a31826f82bd.js.LICENSE.txt
  app-825c193f6a31826f82bd.js.map
  chunk-map.json
  commons-5e3e8631f3d42cefd11c.js
  commons-5e3e8631f3d42cefd11c.js.map
  commons-df4bac59d1cab1318298.js
  commons-df4bac59d1cab1318298.js.LICENSE.txt
  commons-df4bac59d1cab1318298.js.map
  component---src-pages-index-tsx-40a8de9726566329f2ec.js
  component---src-pages-index-tsx-40a8de9726566329f2ec.js.map
  component---src-pages-index-tsx-d81f81de63fc9755e07a.js
  component---src-pages-index-tsx-d81f81de63fc9755e07a.js.map
  index.html
  page-data/app-data.json
  privacy/index.html
  ru/index.html
  ru/privacy/index.html
  webpack-runtime-04bfe73bd3afcfd5241e.js
  webpack-runtime-04bfe73bd3afcfd5241e.js.map
  webpack-runtime-77225da763931536172c.js
  webpack-runtime-77225da763931536172c.js.map
  webpack.stats.json
Due: eslint --ext .js,.json,.jsx --fix, prettier --write

gatsby-plugin-google-analytics -> gatsby-plugin-google-tagmanager
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx --fix

Packages upgrade
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx --fix

Deploying to gh-pages from @ izorg/munchkin-site@02d306af8dd26332458dcce9d1310abad5c0de81 🚀
  app-269ef920c6f7356cf2ec.js
  app-269ef920c6f7356cf2ec.js.LICENSE.txt
  app-269ef920c6f7356cf2ec.js.map
  app-825c193f6a31826f82bd.js
  app-825c193f6a31826f82bd.js.map
  chunk-map.json
  index.html
  page-data/app-data.json
  privacy/index.html
  ru/index.html
  ru/privacy/index.html
  webpack.stats.json
Due: eslint --ext .js,.json,.jsx --fix, prettier --write

CI dependency conditions
  gatsby-config.js
Due: eslint --ext .js,.json,.jsx --fix

Packages upgrade
  .github/workflows/deploy.yml
  gatsby-ssr.js
  package-lock.json
  package.json
  src/pages/index.tsx
  src/theme.ts
Due: eslint --ext .js,.json,.jsx --fix, prettier --write

Deploying to gh-pages from @ izorg/munchkin-site@4afeedf270d859df5dc88b152e5fdd11625bb0ee 🚀
  app-269ef920c6f7356cf2ec.js
  app-269ef920c6f7356cf2ec.js.map
  app-6fd6393748e4ace43089.js
  app-6fd6393748e4ace43089.js.LICENSE.txt
  app-6fd6393748e4ace43089.js.map
  chunk-map.json
  commons-8f87e9919c1b77143e69.js
  commons-8f87e9919c1b77143e69.js.LICENSE.txt
  commons-8f87e9919c1b77143e69.js.map
  commons-df4bac59d1cab1318298.js
  commons-df4bac59d1cab1318298.js.map
  component---src-pages-index-tsx-40a8de9726566329f2ec.js
  component---src-pages-index-tsx-40a8de9726566329f2ec.js.map
  component---src-pages-index-tsx-7feee3ee136770b47ffe.js
  component---src-pages-index-tsx-7feee3ee136770b47ffe.js.map
  component---src-pages-privacy-index-tsx-dace6e907d76570cafc6.js
  component---src-pages-privacy-index-tsx-dace6e907d76570cafc6.js.map
  component---src-pages-privacy-index-tsx-ece06c07deafd5f07094.js
  component---src-pages-privacy-index-tsx-ece06c07deafd5f07094.js.map
  index.html
  page-data/app-data.json
  privacy/index.html
  ru/index.html
  ru/privacy/index.html
  webpack-runtime-04bfe73bd3afcfd5241e.js
  webpack-runtime-04bfe73bd3afcfd5241e.js.map
  webpack-runtime-224ee09eda67e8c58c8d.js
  webpack-runtime-224ee09eda67e8c58c8d.js.map
  webpack.stats.json
Due: eslint --ext .js,.json,.jsx --fix, prettier --write

Munchkin -> Level Counter
  i18n/react-intl/en.json
  package-lock.json
  package.json
  src/pages/index.tsx
Due: eslint --ext .js,.json,.jsx --fix

Deploying to gh-pages from @ izorg/munchkin-site@5f6d4d99aa9022955de1aab7b0a07bb250b0cffc 🚀
  app-4d2247cd16f4048441ea.js
  app-4d2247cd16f4048441ea.js.LICENSE.txt
  app-4d2247cd16f4048441ea.js.map
  app-6fd6393748e4ace43089.js
  app-6fd6393748e4ace43089.js.map
  chunk-map.json
  commons-28729cb92e06f8c9e762.js
  commons-28729cb92e06f8c9e762.js.LICENSE.txt
  commons-28729cb92e06f8c9e762.js.map
  commons-8f87e9919c1b77143e69.js
  commons-8f87e9919c1b77143e69.js.LICENSE.txt
  commons-8f87e9919c1b77143e69.js.map
  component---src-pages-index-tsx-0971fb87a77dc7b9a2fb.js
  component---src-pages-index-tsx-0971fb87a77dc7b9a2fb.js.map
  component---src-pages-index-tsx-7feee3ee136770b47ffe.js
  component---src-pages-index-tsx-7feee3ee136770b47ffe.js.map
  index.html
  page-data/app-data.json
  privacy/index.html
  ru/index.html
  ru/privacy/index.html
  webpack-runtime-224ee09eda67e8c58c8d.js
  webpack-runtime-224ee09eda67e8c58c8d.js.map
  webpack-runtime-60a9ce55fbb4f4a25363.js
  webpack-runtime-60a9ce55fbb4f4a25363.js.map
  webpack.stats.json
Due: eslint --ext .js,.json,.jsx --fix, prettier --write

Packages upgrade
  .nvmrc
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/MuiProvider.tsx
  src/pages/index.tsx
  src/pages/privacy/index.tsx
Due: eslint --ext .js,.json,.jsx --fix

defaultValue -> defaultMessage
  src/pages/index.tsx
Due: none

Remove displayName
  src/pages/index.tsx
  src/pages/privacy/index.tsx
Due: none

Remove Munchkin pre title in privacy policy
  src/pages/privacy/index.tsx
Due: none

Remove unused emotion packages
  package-lock.json
  package.json
Due: eslint --ext .js,.json,.jsx --fix

Add windows store button
  src/pages/index.tsx
Due: none

Update locales
  i18n/react-intl/en.json
  i18n/react-intl/ru.json
Due: eslint --ext .js,.json,.jsx --fix

Deploying to gh-pages from @ izorg/munchkin-site@f0e5b245aa6bd999dbfb1da2f15d85b7b7b2e7af 🚀
  589-b89427ebfea25a4a1dd9.js
  589-b89427ebfea25a4a1dd9.js.map
  app-25dee4442404ecc4ab17.js
  app-25dee4442404ecc4ab17.js.LICENSE.txt
  app-25dee4442404ecc4ab17.js.map
  app-4d2247cd16f4048441ea.js
  app-4d2247cd16f4048441ea.js.map
  b2e984c5-5dac59d84b07bfaa5cb4.js
  b2e984c5-5dac59d84b07bfaa5cb4.js.map
  b2e984c5-a459fec5b7fe7c9ba05a.js
  b2e984c5-a459fec5b7fe7c9ba05a.js.map
  chunk-map.json
  commons-28729cb92e06f8c9e762.js
  commons-28729cb92e06f8c9e762.js.map
  commons-a5d0d85591a988f3fca1.js
  commons-a5d0d85591a988f3fca1.js.LICENSE.txt
  commons-a5d0d85591a988f3fca1.js.map
  component---src-pages-index-tsx-0971fb87a77dc7b9a2fb.js
  component---src-pages-index-tsx-0971fb87a77dc7b9a2fb.js.map
  component---src-pages-index-tsx-f24d1da7442bb986de6d.js
  component---src-pages-index-tsx-f24d1da7442bb986de6d.js.map
  component---src-pages-privacy-index-tsx-69d2fa63d6d58029b297.js
  component---src-pages-privacy-index-tsx-69d2fa63d6d58029b297.js.map
  component---src-pages-privacy-index-tsx-ece06c07deafd5f07094.js
  component---src-pages-privacy-index-tsx-ece06c07deafd5f07094.js.map
  index.html
  page-data/app-data.json
  privacy/index.html
  ru/index.html
  ru/privacy/index.html
  webpack-runtime-03ff7d4c3ca48c4b1f50.js
  webpack-runtime-03ff7d4c3ca48c4b1f50.js.map
  webpack-runtime-60a9ce55fbb4f4a25363.js
  webpack-runtime-60a9ce55fbb4f4a25363.js.map
  webpack.stats.json
Due: eslint --ext .js,.json,.jsx --fix, prettier --write

Rename button Play Store -> Google Play
  src/pages/index.tsx
Due: none

Text transform none for button
  src/theme.ts
Due: none

Deploying to gh-pages from @ izorg/munchkin-site@c8d8cf54777c99cf8c6f025b20501198e16b4976 🚀
  app-25dee4442404ecc4ab17.js
  app-25dee4442404ecc4ab17.js.map
  app-dae7c3afe5c48e3f64b7.js
  app-dae7c3afe5c48e3f64b7.js.LICENSE.txt
  app-dae7c3afe5c48e3f64b7.js.map
  chunk-map.json
  component---src-pages-index-tsx-6c5ee0ad734b7ce51f04.js
  component---src-pages-index-tsx-6c5ee0ad734b7ce51f04.js.map
  component---src-pages-index-tsx-f24d1da7442bb986de6d.js
  component---src-pages-index-tsx-f24d1da7442bb986de6d.js.map
  index.html
  page-data/app-data.json
  privacy/index.html
  ru/index.html
  ru/privacy/index.html
  webpack-runtime-03ff7d4c3ca48c4b1f50.js
  webpack-runtime-03ff7d4c3ca48c4b1f50.js.map
  webpack-runtime-58744e4b94d1ff21736b.js
  webpack-runtime-58744e4b94d1ff21736b.js.map
  webpack.stats.json
Due: eslint --ext .js,.json,.jsx --fix, prettier --write

Min width 120px for try button
  src/pages/index.tsx
Due: none

Deploying to gh-pages from @ izorg/munchkin-site@728bdbc1be94da750e0fb0fa7de3b8c47ab037b7 🚀
  chunk-map.json
  component---src-pages-index-tsx-6c5ee0ad734b7ce51f04.js
  component---src-pages-index-tsx-6c5ee0ad734b7ce51f04.js.map
  component---src-pages-index-tsx-cf19f9e4c0583216c49a.js
  component---src-pages-index-tsx-cf19f9e4c0583216c49a.js.map
  index.html
  page-data/app-data.json
  privacy/index.html
  ru/index.html
  ru/privacy/index.html
  webpack-runtime-58744e4b94d1ff21736b.js
  webpack-runtime-58744e4b94d1ff21736b.js.map
  webpack-runtime-63c21e22885db99e5d4f.js
  webpack-runtime-63c21e22885db99e5d4f.js.map
  webpack.stats.json
Due: eslint --ext .js,.json,.jsx --fix, prettier --write

Path conditions:
  eslint --ext .js,.json,.jsx --fix: any of: **/*.{js,json,jsx}
  prettier --write: any of: **/*.{html,md,yml}
